.button {
  display: inline-block;
  min-width: 220px;
  height: 56px;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background: var(--main-color-light);
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  transition: .3s ease;

  &:hover {
    opacity: 0.9;
  }
}

.catalog-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 185px;
  min-height: 60px;
  font-family: var(--font-catalog-primary);
  font-size: 0.75rem;
  color: #1D1A1A;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 2px solid #E7E0CF;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
