html {
  font-size: 62.5%; /*1rem = 10px, 10px/16px=0.625*/
}

body {
  font-size: 1.6rem;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

::selection {
  color: #fff;
  background: #000;
}

.wrapper {
  display: block;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper--header {
  max-width: 1366px;
}
